<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context.xsd">


	<bean id="A" class="com.hefshine.bean.Point">
		<property name="x" value="10"/>
		<property name="y" value="20"/>
	</bean>
	
	<!-- <bean id="B" class="com.hefshine.bean.Point">
	
	</bean> -->
	
	<bean id="triangle" class="com.hefshine.bean.Triangle" autowire="byType">
		<property name="type"  value="Triangle Type"/>
	<!-- 	<property name="pointA" ref="A"></property> -->
	</bean>


</beans>